body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
}

table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
    width: 100%;
}
table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

footer{
	text-align: center;
	font-size: 1em;
}
footer > p {
	padding: 0px;
	margin: 0px;
}
footer > p > b{
	color: #8eafe2;
}
footer > p > i{
	color: #F2C112;
}

.caption-table{
    font-size: 0.9em;
    margin: .5em 0 .75em;
}

.container-header{
    text-align: center;
    border: 5px dashed #757575;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 20px;
}
.header{
    color: #8eafe2;
    font-size: 32px;
    font-weight: bold;
    padding: 0px;
    margin:0px;
}
.subheader{
    padding: 0px;
    margin:0px;
    color: #616161;
}

.btn-download {
    text-decoration: none;
    color: #333;
    background-color: #8eafe2;
    padding: 20px; 
    font-weight: bold;
}